{% extends "base.html" %}

{% block site_meta %}

<script type="application/ld+json" >
    {
      "@context": "https://schema.org",
      "@id": "https://hds-sandbox.github.io/scRNASeq_course/",
      "@type": "LearningResource",
      "dct:conformsTo": "https://bioschemas.org/profiles/TrainingMaterial/1.0-RELEASE",
      "description": "This workshop contains a basic tutorial on how to approach scRNAseq experiments, starting from fastq files out of the sequencer. Thus, the workshop does not include any information of laboratory protocols, library preparation or any wet-lab related procedures.",
      "keywords": [
        "bioinformatics, RNAseq, single cell, NGS, python, R"
      ],
      "learningResourceType": [
        "e-learning"
      ],
      "license": [
        {
          "@id": "https://creativecommons.org/licenses/by-sa/4.0/legalcode",
          "@type": "CreativeWork"
        }
      ],
      "mentions": [
        {
          "@id": "10.5281/zenodo.7660225",
          "@type": "Thing"
        },
        {
          "@id": "10.5281/zenodo.7565997",
          "@type": "Thing"
        }
      ],
      "name": "Introduction to single cell RNAseq analysis workshop",
      "educationalLevel": "Beginner",
      "audience": "PhD, postdocs, MSc, Researchers"
    }
    </script >
{% endblock %}

{% block announce %}
Page under construction - course not finalized
{% endblock %}