# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Other
.gitignore
*.DS_Store
Data/
Notebooks/Python/*.log
Notebooks/Python/.ipynb_checkpoints
Notebooks/Python/cache
.ipynb_checkpoints
Environments/Python/.ipynb_checkpoints
Notebooks/Python/Extra/.ipynb_checkpoints
develop/python/.ipynb_checkpoints
Notebooks/Python/Extra/sparkmonitor_kernelextension.log
Notebooks/Python/Azoospermia/sparkmonitor_kernelextension.log
Notebooks/Python/Azoospermia/.ipynb_checkpoints
Notebooks/Python/Extra/.ipynb_checkpoints
docs/scRNAseq_Seurat_files/
*.docx
sparkmonitor_kernelextension.log
old